<header> </header>
<div class="col-lg-12 finalize">
	<div class="row">
		<div class="col-lg-12"><a href="#"><i class="icon-Back"></i>Continue Personalization</a></div>
		<div class="col-lg-12 in-button">
			<h5>You can also make changes <span class="green strong">APPS</span> <span class="orange strong">SETTING</span></h5>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
			<div class="col-lg-12 text-center">
				<h4 class="strong">Your preference has been saved</h4>
			</div>
            <div class="row">
				<div class="col-lg-12">
			<div class="col-xs-5 pad-0"><span class="finalView"><img src="../../assets/images/theme-1.png"></span></div>
			<div class="col-xs-7">
                <h5>Following changes have been applied</h5>
                <ul>
                    <li>Collections</li>
                    <li>Boot Animation</li>
                    <li>Wallpaper</li>
                    <li>Ringtone</li>
                    <li>Welcome Message</li>
                    <li>Lock Screen Shortcuts</li>
                    <li>Home Screen Shortcuts</li>
                    <li>Contacts &#40; 10 added &#41;</li>
                    <li>Photos &#40; 25 added &#41;</li>
                </ul>
                </div>
            </div>
			</div>
            <div class="row margin-t-25">
			<div class="col-lg-12">
				<h5 class="checkboxNew text-center"><input id="c1" name="cc" type="checkbox">
					<label for="c1">I accept to the <a href="#">End User License Agreement</a></label></h5>
			</div>
            </div>
            <div class="row">
			<div class="col-lg-12"><h5>You won't be able to make changes here, After you finalize.</h5></div>
            </div>
			<div class="col-lg-12">
				<button class="selectGrey">FINALIZE</button>
			</div>
		</div>
	</div>
</div>