<header> </header>
<ul class="col-lg-12 page-landing clickSelect">
	<li><h3 class="text-center">You can now start personalizing your phone</h3></li>
	<li><h4 class="text-center margin-t-60 strong">Is this a gift for someone special?</h4></li>
	<li class="show"><h5 class="text-center margin-t-25"><i class="gift"></i></h5></li>
	<li><h4 class="text-center margin-t-25">OR</h4></li>
	<li><h4 class="text-center margin-t-25 strong">Buying this yourself?</h4></li>
	<li class="show"><h5 class="text-center margin-t-25"><i class="personnel"></i></h5></li>
	<li><h5 class="text-center margin-t-90 checkboxNew"><input type="checkbox" id="c1" name="cc" />
		<label for="c1">I accept to the <a href="#">End User License Agreement</a></label></h5></li>
</ul>
<div class="col-lg-12">
	<button class="selectGrey">START</button>
</div>



<script type="text/javascript" src="resources/js/script.js"></script>