<div class="row personalised">
    <div class="col-lg-12 text-center">
        <h4 class="strong">This phone has been stylized and configured specially for you</h4>
    </div>
    <div class="col-lg-12 strong margin-t-25"><button id='configure'>SHOW DETAILS</button></div>
    <div class="col-lg-12 margin-t-25">
        <div id='configureImage' class='configureToggle'><i class="gift-mibile-img"></i></div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12">
        <div id="ticker" class='configureToggle holder'>
            <ul>
                <li>Boot Animation</li>
                <li>Lock Screen Wallpaper</li>
                <li>Home Screen Wallpaper</li>
                <li>Phone Number</li>
                <li>Welcome Message</li>
                <li>Ringtone</li>
                <li>Font Size</li>
                <li>Brightness</li>
                <li>High Contrast Font</li>
                <li>Greyscale</li>
                <li>Negative Colors</li>
                <li>Button Shapes</li>
                <li>Hearing Aid</li>
                <li>Voice Assistance</li>
                <li>Flash Notification</li>
            </ul>
        </div>
    </div>
    <div class="col-lg-12 text-center margin-t-25">
        <h5>Apps, Photos and Contacts will be downloaded later.</h5>
    </div>
    <div class="col-lg-12 text-center">
        <h4 class="strong">15 MB will be downloaded</h4>
    </div>
</div>
<div class="col-lg-12">
    <button class="selectGrey">SELECT</button>
</div>
<script type="text/javascript" src="resources/js/script.js"></script>