<header> </header>
<div class="row">
	<div class="col-lg-12 app-suit">
		<div class="col-lg-3 col-md-3 suit-list">
			<h4 class="pull-left line-height-18 strong">Popular Apps</h4>
			<h5 class="pull-right line-height-18">10 SELECTED</h5>
			<div class="clearfix"></div>
			<h5 class="line-height-18">Choose the apps you would like to be installed on your phone from the list below. You can only choose 10 apps.</h5>
		</div>
		<div class="col-lg-5 col-md-5 suit-list">
			<div class="col-lg-12">
				<form class="search-box">
					<input type="search" name="search" required placeholder="Search" />
					<!--<button class="close-icon" type="reset"></button>-->
				</form>
			</div>


			<div id="carousel-example-generic" class="carousel slide apps-select" data-ride="carousel" data-interval="false">
				<div class="carousel-inner" role="listbox">
					<ul class="item active addMoreActive">
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
					</ul>
					<ul class="item addMoreActive">
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
					</ul>
					<ul class="item addMoreActive">
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
						<li><img src="../../assets/images/Ringtone.svg"><label>Gallery</label></li>
					</ul>
				</div>
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
				<div class="grey-button">
					<h5 class="grey-bg-rounded">Maximum 10 Apps</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 hidden-xs">&nbsp;</div>
	</div>
</div>
<div class="rightMenu">
	<div class="menus">
		<span class="btn-more bg-styles">
      <a href="#menu1"><i class="icon-Style"></i>STYLES</a>
      </span>
		<span class="btn-more bg-apps">
        <a href="#menu2"><i class="icon-App"></i>APPS</a>
        </span>
		<span class="btn-more bg-setting">
          <a href="#menu3"><i class="icon-Settings"></i>SETTING</a>
          </span>
		<span class="btn-more bg-more">
            <a href="#menu4"><i class="icon-More"></i> MORE</a>
            </span>
		<span class="btn-detault bg-finish">
              <a href="#"><i class="icon-Finish"></i>FINISH</a>
              </span>
	</div>
	<ul id="menu1" class="rightMenu-subMenu submenu-styles addActive" style="top: 45px;">
		<li class="active"><a href="#"><i class="icon-Collection"></i>Collections</a></li>
		<li><a href="#"><i class="icon-Animation"></i>Animation</a></li>
		<li><a href="#"><i class="icon-Welcome-message"></i>Message</a></li>
		<li><a href="#"><i class="icon-Phone-name"></i>Phone Name</a></li>
		<li><a href="#"><i class="icon-Home-screen-wallpaper"></i>Home Wallpaper</a></li>
		<li><a href="#"><i class="icon-Lock-screen-wallpaper"></i>Lock Wallpaper</a></li>
		<li><a href="#"><i class="icon-Ringtone"></i>Ringtone</a></li>
	</ul>
	<ul id="menu2" class="rightMenu-subMenu submenu-apps addActive" style="top: 90px;">
		<li class="active"><a href="#"><i class="icon-Lock-screen-shortcut"></i>Lock Screen</a></li>
		<li><a href="#"><i class="icon-Home-screen-shortcut"></i>Home Screen</a></li>
		<li><a href="#"><i class="icon-App"></i>Apps</a></li>
	</ul>
	<ul id="menu3" class="rightMenu-subMenu submenu-setting addActive" style="top: 135px;">
		<li class="active"><a href="#"><i class="icon-Fonts"></i>Fonts</a></li>
		<li><a href="#"><i class="icon-Brightness"></i>Brightness</a></li>
		<li><a href="#"><i class="icon-Quick-options"></i>Quick Options</a></li>
		<li><a href="#"><i class="icon-Accessibility"></i>Accessibility</a></li>
	</ul>
	<ul id="menu4" class="rightMenu-subMenu submenu-more addActive" style="top: 180px;">
		<li class="active"><a href="#"><i class="icon-Collection"></i>Contacts</a></li>
		<li><a href="#"><i class="icon-Photos"></i>Photos</a></li>
	</ul>
</div>










<script type="text/javascript" src="resources/js/script.js"></script>