@font-face {
  font-family: 'titillium-web-regular';
  src: url("../../assets/fonts/TitilliumWeb-Regular.eot");
  src: local("?"), url("../../assets/fonts/TitilliumWeb-Regular.woff") format("woff"), url("../../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype"), url("../../assets/fonts/TitilliumWeb-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'titillium-web-semiBold';
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.eot");
  src: local("?"), url("../../assets/fonts/TitilliumWeb-SemiBold.woff") format("woff"), url("../../assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype"), url("../../assets/fonts/TitilliumWeb-SemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Samsung_icons';
  src: url("../../assets/fonts/Samsung_icons.eot?p9hky8");
  src: url("../../assets/fonts/Samsung_icons.eot?p9hky8#iefix") format("embedded-opentype"), url("../../assets/fonts/Samsung_icons.ttf?p9hky8") format("truetype"), url("../../assets/fonts/Samsung_icons.woff?p9hky8") format("woff"), url("../../assets/fonts/Samsung_icons.svg?p9hky8#Samsung_icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Samsung_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media screen and (min-width: 320px) and (max-width: 599px) {
  .container {
    width: 100%; }
  .container h5 {
    font-size: 12px; }
  .container h4 {
    font-size: 16px; }
  .container .info-section {
    top: 300px;
    left: 14%; }
  .container .rightMenu {
    position: fixed;
    top: 50px;
    right: -73px; }
  .container .rightMenu .btn-more {
    width: 100px; }
  .container .rightMenu .btn-more.active {
    width: 170px; }
  .container .rightMenu .btn-detault {
    width: 100px; }
  .container .rightMenu .rightMenu-subMenu {
    width: 120px;
    right: 90px; }
  .container .rightMenu .rightMenu-subMenu a {
    text-align: center;
    padding-bottom: 10px; }
  .container .rightMenu .rightMenu-subMenu a i {
    display: block;
    margin: 0 auto; }
  .container #carousel-custom {
    margin: 10px auto; }
  .container #carousel-custom .carousel-inner {
    width: 127px;
    left: 46px;
    height: 283px; }
  .container #carousel-custom .carousel-indicators {
    width: 100%; }
  .container #carousel-custom .carousel-outer .themeArea {
    background: url("../../assets/images/PhoneFrame.png") no-repeat center 0;
    float: left; }
  .container #carousel-custom .item img {
    height: 225px;
    margin-top: 30px; }
  .container .checkboxNew label {
    font-size: 12px; }
  .container .theme-container {
    margin-top: 15px; }
  .container .theme-container .theme-focus {
    width: 140px;
    height: 283px;
    margin: 0 auto;
    padding: 30px 0 0 6px; }
  .container .theme-container .theme-focus img {
    position: relative;
    width: 127px;
    left: 0;
    height: 225px; }
  .container .theme-container .theme-thumbs {
    width: 100%; }
  .container .theme-container .theme-thumbs .small-theme-images {
    overflow: scroll;
    width: 98%; }
  .container .collection-gallery .top-nav {
    padding: 10px 0; }
  .container .collection-gallery .top-nav .icon-Back {
    top: 20px; }
  .container .collection-gallery .gallery-thumbs {
    padding: 10px;
    bottom: 0; }
  .container .collection-gallery .gallery-thumbs ul li {
    height: 98px;
    width: 98px; }
  .container .app-suit .suit-list {
    width: 65%;
    float: left; }
  .container .app-suit .carousel-inner ul li {
    height: 58px;
    width: 27%; }
  .container .app-suit .carousel-inner ul li img {
    height: 25px;
    width: 25px;
    margin: 10px 0 0 10px; }
  .container .app-suit .search-box input[type=search]:focus {
    width: 160px; }
  .container .finalize ul li {
    font-size: 12px; }
  .container .selectGrey {
    bottom: 0;
    z-index: 2; } }

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .container {
    width: 100%; }
  .container .info-section {
    top: 447px;
    left: 3%; }
  .container .rightMenu {
    position: absolute;
    top: 55px;
    right: 0; }
  .container .rightMenu .btn-more {
    width: 80px; }
  .container .rightMenu .btn-more.active {
    width: 222px; }
  .container .rightMenu .btn-detault {
    width: 80px; }
  .container .rightMenu .rightMenu-subMenu {
    width: 160px;
    right: 60px; }
  .container .rightMenu .rightMenu-subMenu a {
    padding: 10px 0;
    margin-bottom: 10px; }
  .container .rightMenu .rightMenu-subMenu a i {
    margin-right: 5px; }
  .container #carousel-custom {
    margin: 15px auto; }
  .container #carousel-custom .carousel-inner {
    width: 200px;
    left: 9px; }
  .container #carousel-custom .carousel-indicators {
    width: 100%; }
  .container #carousel-custom .carousel-outer .themeArea {
    background: url("../../assets/images/PhoneFrame.png") no-repeat center 0;
    margin: 0 auto; }
  .container #carousel-custom .item img {
    height: 355px;
    margin-top: 46px; }
  .container .checkboxNew label {
    font-size: 14px; }
  .container .theme-container {
    margin-top: 15px; }
  .container .theme-container .theme-focus {
    width: 220px;
    height: 445px;
    margin: 0 auto;
    padding: 46px 0 0 9px; }
  .container .theme-container .theme-focus img {
    height: 355px;
    width: 200px; }
  .container .theme-container .theme-thumbs {
    width: 100%; }
  .container .theme-container .theme-thumbs .small-theme-images {
    overflow: scroll;
    width: 98%; }
  .container .collection-gallery .top-nav {
    padding: 30px 0; }
  .container .collection-gallery .top-nav .icon-Back {
    top: 40px; }
  .container .collection-gallery .gallery-thumbs {
    padding: 10px 6px;
    bottom: 90px; }
  .container .collection-gallery .gallery-thumbs ul li {
    height: 115px;
    width: 115px; }
  .container .app-suit .suit-list {
    width: 60%;
    float: left; }
  .container .app-suit .carousel-inner ul li {
    height: 100px;
    width: 30%; }
  .container .app-suit .carousel-inner ul li img {
    height: 55px;
    width: 55px;
    margin: 10px 0 10px 20px; }
  .container .app-suit .search-box input[type=search]:focus {
    width: 310px; }
  .container .selectGrey {
    bottom: 20px; } }

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px; }
  .container .info-section {
    top: 447px;
    left: 3%; }
  .container .rightMenu {
    position: absolute;
    top: 55px;
    right: 0;
    width: 300px; }
  .container .rightMenu .btn-more {
    width: 100px; }
  .container .rightMenu .btn-more.active {
    width: 300px; }
  .container .rightMenu .btn-detault {
    width: 100px; }
  .container .rightMenu .rightMenu-subMenu {
    width: 160px;
    right: 0; }
  .container .rightMenu .rightMenu-subMenu a {
    padding: 10px 0;
    margin-bottom: 10px; }
  .container .rightMenu .rightMenu-subMenu a i {
    margin-right: 5px; }
  .container #carousel-custom {
    margin: 15px auto; }
  .container #carousel-custom .carousel-inner {
    width: 200px;
    left: 9px; }
  .container #carousel-custom .carousel-indicators {
    width: 1024px; }
  .container #carousel-custom .carousel-outer .themeArea {
    background: url("../../assets/images/PhoneFrame.png") no-repeat center 0;
    margin: 0 auto; }
  .container #carousel-custom .item img {
    height: 355px;
    margin-top: 46px; }
  .container .checkboxNew label {
    font-size: 14px; }
  .container .theme-container {
    margin-top: 15px; }
  .container .theme-container .theme-focus {
    width: 220px;
    height: 445px;
    margin: 0 auto;
    padding: 46px 0 0 9px; }
  .container .theme-container .theme-focus img {
    height: 355px;
    width: 200px; }
  .container .theme-container .theme-thumbs {
    width: 1024px; }
  .container .theme-container .theme-thumbs .small-theme-images {
    overflow: hidden;
    width: 923px; }
  .container .theme-container .theme-thumbs #left-arrow {
    margin-top: 50px;
    background: url("../../assets/images/ArrowLeft.svg") no-repeat 0 0;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    float: left;
    height: 30px;
    width: 30px;
    cursor: pointer; }
  .container .theme-container .theme-thumbs #right-arrow {
    margin-top: 50px;
    background: url("../../assets/images/ArrowRight.svg") no-repeat 0 0;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    float: left;
    height: 30px;
    width: 30px;
    cursor: pointer; }
  .container .collection-gallery .top-nav {
    padding: 30px 0; }
  .container .collection-gallery .top-nav .icon-Back {
    top: 40px; }
  .container .collection-gallery .gallery-thumbs {
    padding: 10px 9px;
    bottom: 90px; }
  .container .collection-gallery .gallery-thumbs ul li {
    height: 123px;
    width: 123px; }
  .container .app-suit .carousel-inner {
    width: 78%;
    margin: 0 auto; }
  .container .app-suit .carousel-inner ul li {
    height: 98px;
    width: 30%;
    padding: 30px; }
  .container .app-suit .carousel-inner ul li img {
    height: 40px;
    width: 40px; }
  .container .app-suit .left span {
    background: url("../../assets/images/ArrowLeft.svg") no-repeat 0 0;
    position: absolute;
    top: 50%;
    height: 30px;
    width: 30px;
    left: 0; }
  .container .app-suit .right span {
    background: url("../../assets/images/ArrowRight.svg") no-repeat 0 0;
    position: absolute;
    top: 50%;
    height: 30px;
    width: 30px;
    right: 0; }
  .container .app-suit .search-box input[type=search]:focus {
    width: 330px; }
  .container .selectGrey {
    bottom: 20px; } }

body {
  font-family: 'titillium-web-regular', Sans-Serif;
  background: url("../../assets/images/BackgroundPattern.svg") repeat fixed center;
  background-size: 250px, 130px;
  color: #46606b; }

.strong {
  font-family: 'titillium-web-semiBold', Sans-Serif; }

.bg-styles {
  background-color: #00bed8; }

.bg-apps {
  background-color: #00cf7f;
  top: 45px; }

.bg-setting {
  background-color: #ffad00;
  top: 90px; }

.bg-more {
  background-color: #ff526e;
  top: 135px; }

.bg-finish {
  background-color: #46616c;
  top: 180px; }

.container {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.container header {
  height: 40px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  right: 0;
  background: #FFFFFF url("../../assets/images/header-logo.png") no-repeat 10px 7px;
  width: 100%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.container .info-section {
  position: absolute; }

.container .info-section .info {
  background-color: #FFFFFF;
  position: relative;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  text-decoration: none;
  z-index: 999; }

.container .info-section .info i {
  font-size: 17px;
  color: #7796a3; }

.container .info-section ul {
  background-color: #d4f1fd;
  position: absolute;
  padding: 20px;
  width: 280px;
  display: inline-block;
  bottom: 48%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  z-index: 1; }

.container .rightMenu .btn-more {
  border: none;
  padding: 10px;
  text-align: left;
  color: #FFFFFF;
  font-size: 12px;
  position: absolute;
  right: 0;
  height: 40px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  transition: all .5s; }

.container .rightMenu .btn-more a {
  color: #FFFFFF;
  text-decoration: none; }

.container .rightMenu .btn-more i {
  margin-right: 10px; }

.container .rightMenu .btn-detault {
  border: none;
  padding: 10px;
  text-align: left;
  color: #FFFFFF;
  font-size: 12px;
  position: absolute;
  right: 0;
  height: 40px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.container .rightMenu .btn-detault a {
  color: #FFFFFF;
  text-decoration: none; }

.container .rightMenu .btn-detault i {
  margin-right: 10px; }

.container .rightMenu .rightMenu-subMenu {
  position: relative; }

.container .rightMenu .rightMenu-subMenu a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #46606b; }

.container .rightMenu .rightMenu-subMenu a i {
  background: #FFFFFF no-repeat center center;
  font-size: 20px;
  padding: 10px;
  width: 40px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.container .rightMenu .rightMenu-subMenu a.active i {
  color: #FFFFFF; }

.container .rightMenu .submenu-styles a i {
  color: #00bed8; }

.container .rightMenu .submenu-styles .active a i {
  background: #00bed8 no-repeat center center;
  color: #FFFFFF; }

.container .rightMenu .submenu-apps a i {
  color: #00cf7f; }

.container .rightMenu .submenu-apps .active a i {
  background: #00cf7f no-repeat center center;
  color: #FFFFFF; }

.container .rightMenu .submenu-setting a i {
  color: #ffad00; }

.container .rightMenu .submenu-setting .active a i {
  background: #ffad00 no-repeat center center;
  color: #FFFFFF; }

.container .rightMenu .submenu-more a i {
  color: #ff526e; }

.container .rightMenu .submenu-more .active a i {
  background: #ff526e no-repeat center center;
  color: #FFFFFF; }

.container .iconScroll {
  position: absolute;
  bottom: 20px; }

.container .iconScroll .icon-Information {
  left: 20px;
  bottom: 0px;
  position: absolute; }

.container .iconScroll .icon-Scroll:before {
  content: "\e90b"; }

.container #carousel-custom {
  width: 100%;
  position: relative;
  float: left; }

.container #carousel-custom .carousel-indicators {
  bottom: 0;
  left: auto;
  margin-left: 0;
  margin-right: 0;
  overflow: auto;
  position: fixed;
  right: auto;
  text-align: left;
  white-space: nowrap;
  padding: 15px;
  background-color: #e5e9ee; }

.container #carousel-custom .carousel-indicators li {
  background-color: transparent;
  border-radius: 0;
  display: inline-block;
  height: auto;
  margin: 0 !important;
  width: auto; }

.container #carousel-custom .carousel-indicators li img {
  display: block;
  height: 80px;
  width: 100px; }

.container #carousel-custom .carousel-indicators li.active img {
  border: 2px solid #46616c; }

.container #carousel-custom .carousel-indicators li:hover img {
  opacity: 0.75;
  border: 2px solid #46616c; }

.container #carousel-custom .carousel-outer {
  position: relative; }

.container #carousel-custom .carousel-outer .themeArea {
  width: 220px;
  height: 445px; }

.container #carousel-custom .item img {
  float: left;
  width: 100%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.container .margin-t-60 {
  margin-top: 60px; }

.container .margin-t-25 {
  margin-top: 25px; }

.container .margin-t-90 {
  margin-top: 90px; }

.container .line-height-18 {
  line-height: 18px; }

.container .pad-0 {
  padding: 0; }

.container .checkboxNew input[type=checkbox] {
  display: none; }

.container .checkboxNew input[type=checkbox]:checked + label:before {
  content: "\2713";
  font-size: 11px;
  text-align: center;
  line-height: 10px;
  font-weight: bold; }

.container .checkboxNew label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  margin-bottom: 10px;
  line-height: 16px;
  font-weight: normal;
  text-align: left; }

.container .checkboxNew label:before {
  border: 2px solid #46616c;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 2px; }

.container .checkboxNew label a {
  color: #46606b;
  text-decoration: none;
  font-size: 13px;
  font-family: 'titillium-web-semiBold', Sans-Serif;
  position: relative;
  top: 0; }

.container .selectGrey {
  background-color: #46606b;
  font-family: 'titillium-web-semiBold', Sans-Serif;
  color: #FFFFFF;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  font-size: 16px;
  width: 320px;
  border: none; }

.container .search-box {
  position: relative;
  float: right;
  height: 40px;
  /*.close-icon {
		border: 1px solid transparent;
		background-color: transparent;
		display: inline-block;
		vertical-align: middle;
		outline: 0;
		cursor: pointer;
		&:after {
			content: "X";
			display: block;
			width: 15px;
			height: 15px;
			position: absolute;
			background-color: $color_mona_lisa_approx;
			z-index: 1;
			right: 35px;
			top: 0;
			bottom: 0;
			margin: auto;
			padding: 2px;			
			border-radius: 50%;
			text-align: center;
			color: $white;
			font-weight: normal;
			font-size: 12px;			
			cursor: pointer;
		}
	}*/ }

.container .search-box input {
  outline: none;
  /*&:not(: valid) ~ .close-icon {
                display: none;
            }*/ }

.container .search-box input::-webkit-search-decoration {
  display: none; }

.container .search-box input::-webkit-search-cancel-button {
  display: none; }

.container .search-box input[type=search] {
  background: url("../../assets/images/Search.svg") no-repeat right center;
  background-size: 15px, 15px;
  border: none;
  width: 15px;
  padding: 9px 10px;
  cursor: pointer;
  transition: all .5s;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5); }

.container .search-box input[type=search]:focus {
  padding-right: 32px;
  color: #46606b;
  cursor: auto;
  border-bottom: 1px solid #46616c;
  background-color: #FFFFFF; }

.container .theme-container {
  float: left;
  width: 100%;
  margin-top: 55px;
  padding-right: 100px; }

.container .theme-container .theme-focus {
  background-image: url("../../assets/images/PhoneFrame.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.container .theme-container .theme-focus img {
  float: left;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.container .theme-container .theme-images {
  margin: 0;
  padding: 0;
  position: absolute;
  display: none;
  z-index: -1; }

.container .theme-container .theme-thumbs {
  background-color: #e5e9ee;
  position: fixed;
  z-index: 10;
  bottom: 0; }

.container .theme-container .theme-thumbs:hover {
  opacity: 1; }

.container .theme-container .theme-thumbs .small-theme-images {
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  float: left; }

.container .theme-container .theme-thumbs .small-theme-images span {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 12px 5px;
  border: 2px solid #e5e9ee;
  cursor: pointer; }

.container .theme-container .theme-thumbs .small-theme-images span:hover {
  border: 2px solid #46616c; }

.container .theme-container .theme-thumbs .small-theme-images span .thumb {
  height: 96px;
  width: 100%;
  display: inline;
  position: relative;
  z-index: 1; }

.container .theme-container .theme-thumbs .small-theme-images span.selected {
  border: 2px solid #46616c; }

.container .theme-container .theme-thumbs .small-theme-images span.selected:after {
  content: "\2713 ";
  background-color: #46616c;
  padding: 3px 8px;
  position: relative;
  right: 27px;
  top: -34px;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  z-index: 2; }

.container .theme-container .theme-thumbs .small-theme-images span label {
  float: left;
  font-weight: normal;
  padding-left: 5px;
  background: url("../../assets/images/white-light.png") repeat 0 0;
  width: 100%;
  margin-top: -20px;
  position: relative;
  z-index: 2; }

.container .collection-gallery .top-nav {
  position: relative; }

.container .collection-gallery .top-nav a {
  color: #46606b;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  top: 10px; }

.container .collection-gallery .top-nav a .icon-Back {
  color: #46606b;
  margin-right: 5px; }

.container .collection-gallery .top-nav a .icon-Back:before {
  position: relative;
  top: 2px; }

.container .collection-gallery .top-nav .search-box {
  right: 10px; }

.container .collection-gallery .top-nav .search-box input[type=search]:focus {
  width: 280px; }

.container .collection-gallery .gallery-thumbs {
  background-color: #e5eaee;
  overflow: scroll;
  position: absolute;
  top: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0; }

.container .collection-gallery .gallery-thumbs ul li {
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
  cursor: pointer;
  border: 2px solid #e5e9ee; }

.container .collection-gallery .gallery-thumbs ul li img {
  height: 100%;
  width: 100%; }

.container .collection-gallery .gallery-thumbs ul li label {
  float: left;
  font-weight: normal;
  padding-left: 5px;
  background: url("../../assets/images/white-light.png") repeat 0 0;
  width: 100%;
  margin-top: -20px;
  position: relative;
  z-index: 2; }

.container .collection-gallery .gallery-thumbs ul li.active {
  border: 2px solid #46616c; }

.container .collection-gallery .gallery-thumbs ul li.active:after {
  content: "\2713 ";
  background-color: #46616c;
  padding: 3px 8px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  z-index: 2; }

.container .page-landing {
  float: left;
  margin-top: 83px;
  width: 100%; }

.container .page-landing .show .gift {
  background: url("../../assets/images/GiftUnselected.svg") no-repeat 0 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  height: 60px;
  width: 60px;
  margin: 0 auto;
  display: block;
  padding: 8px;
  cursor: pointer; }

.container .page-landing .show.active .gift {
  background: url("../../assets/images/GiftSelected.svg") no-repeat 0 0; }

.container .page-landing .show .personnel {
  background: url("../../assets/images/PersonalUnselected.svg") no-repeat 0 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  height: 60px;
  width: 60px;
  margin: 0 auto;
  display: block;
  padding: 8px;
  cursor: pointer; }

.container .page-landing .show.active .personnel {
  background: url("../../assets/images/PersonalSelected.svg") no-repeat 0 0; }

.container .app-suit {
  float: left;
  margin-top: 55px;
  width: 100%; }

.container .app-suit .apps-select {
  float: left;
  width: 100%;
  margin-top: 20px; }

.container .app-suit .apps-select .carousel-inner ul li {
  float: left;
  background-color: #FFFFFF;
  margin: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 2px solid #FFFFFF;
  position: relative; }

.container .app-suit .apps-select .carousel-inner ul li label {
  text-align: center;
  float: left;
  width: 100%;
  font-weight: normal; }

.container .app-suit .apps-select .carousel-inner ul li.select {
  border: 2px solid #46616c; }

.container .app-suit .apps-select .carousel-inner ul li.select:after {
  content: "\2713 ";
  background-color: #46616c;
  padding: 3px 8px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  z-index: 2; }

.container .app-suit .apps-select .carousel-indicators {
  position: relative;
  top: 25px; }

.container .app-suit .apps-select .carousel-indicators li {
  background-color: #7796a3;
  border: none; }

.container .app-suit .apps-select .carousel-indicators li.active {
  background-color: #000000;
  border: none; }

.container .app-suit .apps-select .left,
.container .app-suit .apps-select .right {
  background-image: none; }

.container .app-suit .apps-select .grey-bg-rounded {
  background-color: #7796a3;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 10px 20px;
  color: #FFFFFF; }

.container .app-suit .apps-select .grey-button {
  float: left;
  width: 100%;
  margin-top: 30px; }

.container .app-suit .apps-select .grey-button h5 {
  width: 150px;
  margin: 0 auto; }

.container .finalize {
  float: left;
  width: 100%;
  margin-top: 55px; }

.container .finalize a {
  color: #46606b;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  top: 10px; }

.container .finalize a .icon-Back {
  color: #46606b;
  margin-right: 5px; }

.container .finalize a .icon-Back:before {
  position: relative;
  top: 2px; }

.container .finalize ul {
  padding-left: 15px; }

.container .finalize ul li {
  list-style-type: square; }

.container .finalize .finalView {
  background: url("../../assets/images/PhoneFrame.png") no-repeat center 10px;
  height: 260px;
  background-size: 121px 247px;
  width: 121px;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  padding: 36px 6px 28px; }

.container .finalize .finalView img {
  height: 100%;
  width: 100%; }

.container .finalize .in-button {
  margin-top: 12px; }

.container .finalize .in-button h5 {
  margin-left: 22px;
  float: left; }

.container .finalize .in-button .green {
  background-color: #00cf7f;
  color: #FFFFFF;
  padding: 5px;
  font-size: 12px;
  position: relative;
  display: inline-block; }

.container .finalize .in-button .orange {
  background-color: #ffad00;
  color: #FFFFFF;
  padding: 5px;
  font-size: 12px;
  position: relative;
  display: inline-block; }

.container .personalised {
  float: left;
  width: 100%;
  margin-top: 55px; }

.container .personalised #configure {
  border: 2px solid #ccc;
  padding: 5px 15px;
  margin: 0 auto;
  display: flex;
  background-color: #FFFFFF;
  width: 130px; }

.container .personalised #configureImage {
  height: 210px;
  width: 110px;
  margin: 0 auto; }

.container .personalised #configureImage .gift-mibile-img {
  background: url("../../assets/images/GiftPhone.svg") no-repeat 0 0;
  background-size: 100%, 100%;
  float: left;
  height: 100%;
  width: 100%; }

.container .personalised .holder {
  display: none;
  width: 150px;
  height: 210px;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }

.container .personalised .holder ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  height: 210px; }

.container .personalised .holder ul li {
  float: left;
  width: 100%;
  padding: 5px 0; }

.icon-Contact .path1:before {
  content: "\e909";
  color: black; }

.icon-Contact .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: white; }

.icon-Fonts:before {
  content: "\e900"; }

.icon-Photos:before {
  content: "\e901"; }

.icon-Accessibility:before {
  content: "\e902"; }

.icon-Animation:before {
  content: "\e903"; }

.icon-App:before {
  content: "\e904"; }

.icon-Back:before {
  content: "\e905"; }

.icon-Brightness:before {
  content: "\e906"; }

.icon-Cancel:before {
  content: "\e907"; }

.icon-Collection:before {
  content: "\e908"; }

.icon-Finish:before {
  content: "\e90a"; }

.icon-Home-screen-shortcut:before {
  content: "\e90b"; }

.icon-Home-screen-wallpaper:before {
  content: "\e90c"; }

.icon-Information:before {
  content: "\e90d"; }

.icon-Lock-screen-shortcut:before {
  content: "\e90e"; }

.icon-Lock-screen-wallpaper:before {
  content: "\e90f"; }

.icon-More:before {
  content: "\e910"; }

.icon-Phone-name:before {
  content: "\e911"; }

.icon-Popular-app:before {
  content: "\e912"; }

.icon-Quick-options:before {
  content: "\e913"; }

.icon-Ringtone:before {
  content: "\e914"; }

.icon-Search:before {
  content: "\e915"; }

.icon-Settings:before {
  content: "\e916"; }

.icon-Style:before {
  content: "\e917"; }

.icon-View-all:before {
  content: "\e918"; }

.icon-Welcome-message:before {
  content: "\e919"; }
