<header> </header>

<div class="theme-container">
  <section class="theme-focus"><img src="../../assets/images/theme-1.png" /> </section>
  <section class="theme-images">
    <img title="Sunshine" src="../../assets/images/theme-1.png" />
    <img title="autumn" src="../../assets/images/002.jpg" />
    <img title="Celestial" src="../../assets/images/003.jpg" />
    <img title="Colorful Hearts" src="../../assets/images/004.jpg" />
    <img title="Casserolestar" src="../../assets/images/005.jpg" />
    <img title="Solitary" src="../../assets/images/006.jpg" />
    <img title="Snowing Stars" src="../../assets/images/007.jpg" />
    <img title="Solitary" src="../../assets/images/0011.jpg" />
    <img title="Solitary" src="../../assets/images/0012.jpg" />
    <img title="Solitary" src="../../assets/images/0013.jpg" />
    <img title="Solitary" src="../../assets/images/0014.jpg" />
    <img title="Solitary" src="../../assets/images/0015.jpg" />
    <img title="Solitary" src="../../assets/images/0016.jpg" />
    <img title="Solitary" src="../../assets/images/0017.jpg" />
    <img title="Solitary" src="../../assets/images/0021.jpg" />
  </section>
  <div class="theme-thumbs">
    <div id="left-arrow"> </div>
    <div class="small-theme-images"> </div>
    <div id="right-arrow"> </div>
  </div>
</div>
<div class="info-section"><a href="#" class="info"><i class="icon-Information"></i></a>
  <ul style="display: none;">
    <li>
      <h5>Here you can change the look of your phone from the variety of themes available.</h5>
    </li>
    <li>Choosing a theme will make changes to:</li>
    <li><strong>Collections</strong></li>
    <li><strong>Boot animation</strong> </li>
    <li><strong>Wlcome Message</strong>></li>
    <li><strong>Phone Name</strong></li>
    <li><strong>Lock Screen Wallpaper</strong></li>
    <li><strong>Home Screen Wallpaper</strong></li>
    <li>Ringtone</li>
    <li>
      <h5>You can also edit the above items by browsing through the library panel of that section.</h5>
    </li>
  </ul>
</div>
<div class="rightMenu">
  <div class="menus">
    <span class="btn-more bg-styles">
      <a href="#menu1"><i class="icon-Style"></i>STYLES</a>
      </span>
    <span class="btn-more bg-apps">
        <a href="#menu2"><i class="icon-App"></i>APPS</a>
        </span>
    <span class="btn-more bg-setting">
          <a href="#menu3"><i class="icon-Settings"></i>SETTING</a>
          </span>
    <span class="btn-more bg-more">
            <a href="#menu4"><i class="icon-More"></i> MORE</a>
            </span>
    <span class="btn-detault bg-finish">
              <a href="#"><i class="icon-Finish"></i>FINISH</a>
              </span>
  </div>
  <ul id="menu1" class="rightMenu-subMenu submenu-styles addActive" style="top: 45px;">
    <li class="active"><a href="#"><i class="icon-Collection"></i>Collections</a></li>
    <li><a href="#"><i class="icon-Animation"></i>Animation</a></li>
    <li><a href="#"><i class="icon-Welcome-message"></i>Message</a></li>
    <li><a href="#"><i class="icon-Phone-name"></i>Phone Name</a></li>
    <li><a href="#"><i class="icon-Home-screen-wallpaper"></i>Home Wallpaper</a></li>
    <li><a href="#"><i class="icon-Lock-screen-wallpaper"></i>Lock Wallpaper</a></li>
    <li><a href="#"><i class="icon-Ringtone"></i>Ringtone</a></li>
  </ul>
  <ul id="menu2" class="rightMenu-subMenu submenu-apps addActive" style="top: 90px;">
    <li class="active"><a href="#"><i class="icon-Lock-screen-shortcut"></i>Lock Screen</a></li>
    <li><a href="#"><i class="icon-Home-screen-shortcut"></i>Home Screen</a></li>
    <li><a href="#"><i class="icon-App"></i>Apps</a></li>
  </ul>
  <ul id="menu3" class="rightMenu-subMenu submenu-setting addActive" style="top: 135px;">
    <li class="active"><a href="#"><i class="icon-Fonts"></i>Fonts</a></li>
    <li><a href="#"><i class="icon-Brightness"></i>Brightness</a></li>
    <li><a href="#"><i class="icon-Quick-options"></i>Quick Options</a></li>
    <li><a href="#"><i class="icon-Accessibility"></i>Accessibility</a></li>
  </ul>
  <ul id="menu4" class="rightMenu-subMenu submenu-more addActive" style="top: 180px;">
    <li class="active"><a href="#"><i class="icon-Collection"></i>Contacts</a></li>
    <li><a href="#"><i class="icon-Photos"></i>Photos</a></li>
     </ul>
</div>
<div class="col-xs-12 col-md-12 iconScroll">
  <div class="text-center"> <i class="icon-Scroll"></i>
    <div>Scroll up to get started</div>
  </div>
</div>

<script type="text/javascript" src="resources/js/script.js"></script>