<div class="collection-gallery">
	<div class="col-xs-12 top-nav">
		<a href="javascript:void(0)"><i class="icon-Back"></i> All Collection</a>
		<div class="col-lg-6 pull-right">
			<form class="search-box">
				<input type="search" name="search" required placeholder="Search" />
				<!--<button class="close-icon" type="reset"></button>-->
			</form>
		</div>
	</div>
	<div class="col-lg-12 gallery-thumbs addActive">
		<ul>
			<li><img src="../../assets/images/001.jpg"><label>Sunshine</label></li>
			<li><img src="../../assets/images/002.jpg"><label>Sunshine</label></li>
			<li class="active"><img src="../../assets/images/003.jpg"><label>Sunshine</label></li>
			<li><img src="../../assets/images/004.jpg"><label>Sunshine</label></li>
			<li><img src="../../assets/images/005.jpg"><label>Sunshine</label></li>
			<li><img src="../../assets/images/006.jpg"><label>Sunshine</label></li>
			<li><img src="../../assets/images/001.jpg"><label>Sunshine</label></li>
			<li><img src="../../assets/images/002.jpg"><label>Sunshine</label></li>
			<li><img src="../../assets/images/003.jpg"><label>Sunshine</label></li>
			<li><img src="../../assets/images/004.jpg"><label>Sunshine</label></li>
			<li><img src="../../assets/images/005.jpg"><label>Sunshine</label></li>
			<li><img src="../../assets/images/006.jpg"><label>Sunshine</label></li>
		</ul>
	</div>
	<div class="col-lg-12">
		<button class="selectGrey">SELECT</button>
	</div>
</div>
</div>

<script type="text/javascript" src="resources/js/script.js"></script>