body {
    font-family: 'titillium-web-regular', Sans-Serif;
    background: $body-bg repeat fixed center;
    background-size: 250px, 130px;
    color: $button-grey;
}

.strong {
    font-family: 'titillium-web-semiBold', Sans-Serif;
}

.bg-styles {
    background-color: $bg-styles;
}

.bg-apps {
    background-color: $bg-apps;
    top: 45px;
}

.bg-setting {
    background-color: $bg-setting;
    top: 90px;
}

.bg-more {
    background-color: $bg-more;
    top: 135px;
}

.bg-finish {
    background-color: $bg-finish;
    top: 180px;
}

.container {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    header {
        height: 40px;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        position: fixed;
        right: 0;
        background: $white url('../../assets/images/header-logo.png') no-repeat 10px 7px;
        width: 100%;
        @include box-shadow(0,
        2px,
        4px,
        rgba(0, 0, 0, 0.5));
    }
    .info-section {
        position: absolute;
        .info {
            background-color: $white;
            position: relative;
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include box-shadow(0,
            2px,
            4px,
            rgba(0, 0, 0, 0.5));
            @include border-radius(50%);
            text-decoration: none;
            z-index: 999;
            i {
                font-size: 17px;
                color: $icon-grey;
            }
        }
        ul {
            background-color: #d4f1fd;
            position: absolute;
            padding: 20px;
            width: 280px;
            display: inline-block;
            bottom: 48%;
            @include border-radius(5px);
            z-index: 1;
        }
    }
    .rightMenu {
        .btn-more {
            border: none;
            padding: 10px;
            text-align: left;
            color: $white;
            font-size: 12px;
            position: absolute;
            right: 0;
            height: 40px;
            @include border-radius(3px);
            transition: all .5s;
            a {
                color: $white;
                text-decoration: none;
            }
            i {
                margin-right: 10px;
            }
        }
        .btn-detault {
            border: none;
            padding: 10px;
            text-align: left;
            color: $white;
            font-size: 12px;
            position: absolute;
            right: 0;
            height: 40px;
            @include border-radius(3px);
            a {
                color: $white;
                text-decoration: none;
            }
            i {
                margin-right: 10px;
            }
        }
        .rightMenu-subMenu {
            position: relative;
            a {
                display: inline-block;
                width: 100%;
                text-decoration: none;
                color: $button-grey;
                i {
                    background: $white no-repeat center center;
                    font-size: 20px;
                    padding: 10px;
                    width: 40px;
                    @include box-shadow(0,
                    2px,
                    4px,
                    rgba(0, 0, 0, 0.5));
                    @include border-radius(50%);
                }
                &.active i {
                    color: $white;
                }
            }
        }
        .submenu-styles {
            a {
                i {
                    color: $bg-styles;
                }
            }
            .active a i {
                background: $bg-styles no-repeat center center;
                color: $white;
            }
        }
        .submenu-apps {
            a {
                i {
                    color: $bg-apps;
                }
            }
            .active a i {
                background: $bg-apps no-repeat center center;
                color: $white;
            }
        }
        .submenu-setting {
            a {
                i {
                    color: $bg-setting;
                }
            }
            .active a i {
                background: $bg-setting no-repeat center center;
                color: $white;
            }
        }
        .submenu-more {
            a {
                i {
                    color: $bg-more;
                }
            }
            .active a i {
                background: $bg-more no-repeat center center;
                color: $white;
            }
        }
    }
    .iconScroll {
        position: absolute;
        bottom: 20px;
        .icon-Information {
            left: 20px;
            bottom: 0px;
            position: absolute;
        }
        .icon-Scroll:before {
            content: "\e90b";
        }
    }
    #carousel-custom {
        width: 100%;
        position: relative;
        float: left;
        .carousel-indicators {
            bottom: 0;
            left: auto;
            margin-left: 0;
            margin-right: 0;
            overflow: auto;
            position: fixed;
            right: auto;
            text-align: left;
            white-space: nowrap;
            padding: 15px;
            background-color: $grey;
            li {
                background-color: transparent;
                border-radius: 0;
                display: inline-block;
                height: auto;
                margin: 0 !important;
                width: auto;
                img {
                    display: block;
                    height: 80px;
                    width: 100px;
                }
                &.active img {
                    border: 2px solid $bg-finish;
                }
                &:hover img {
                    opacity: 0.75;
                    border: 2px solid $bg-finish;
                }
            }
        }
        .carousel-outer {
            position: relative;
            .themeArea {
                width: 220px;
                height: 445px;
            }
        }
        .item img {
            float: left;
            width: 100%;
            @include border-radius(2px);
        }
    }
    .margin-t-60 {
        margin-top: 60px;
    }
    .margin-t-25 {
        margin-top: 25px;
    }
    .margin-t-90 {
        margin-top: 90px;
    }
    .line-height-18 {
        line-height: 18px;
    }
    .pad-0 {
        padding: 0;
    }
    .checkboxNew {
        input[type=checkbox] {
            display: none;
            &:checked {
                &+label {
                    &:before {
                        content: "\2713";
                        font-size: 11px;
                        text-align: center;
                        line-height: 10px;
                        font-weight: bold;
                    }
                }
            }
        }
        label {
            display: inline-block;
            position: relative;
            padding-left: 25px;
            margin-right: 15px;
            margin-bottom: 10px;
            line-height: 16px;
            font-weight: normal;
            text-align: left;
            &:before {
                border: 2px solid $bg-finish;
                @include border-radius(3px);
                content: "";
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-right: 10px;
                position: absolute;
                left: 0;
                top: 2px;
            }
            a {
                color: $button-grey;
                text-decoration: none;
                font-size: 13px;
                font-family: 'titillium-web-semiBold', Sans-Serif;
                position: relative;
                top: 0;
            }
        }
    }
    .selectGrey {
        background-color: $button-grey;
        font-family: 'titillium-web-semiBold', Sans-Serif;
        color: $white;
        position: fixed;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        height: 45px;
        font-size: 16px;
        width: 320px;
        border: none;
    }
    .search-box {
        position: relative;
        float: right;
        height: 40px;
        input {
            outline: none;
            /*&:not(: valid) ~ .close-icon {
                display: none;
            }*/
        }
        input::-webkit-search-decoration {
            display: none;
        }
        input::-webkit-search-cancel-button {
            display: none;
        }
        input[type=search] {
            background: $icon-search no-repeat right center;
            background-size: 15px, 15px;
            border: none;
            width: 15px;
            padding: 9px 10px;
            cursor: pointer;
            transition: all .5s;
            @include box-shadow(0,
            0,
            0,
            rgba(0, 0, 0, 0.5));
            &:hover {}
            &:focus {
                padding-right: 32px;
                color: $button-grey;
                cursor: auto;
                border-bottom: 1px solid $bg-finish;
                background-color: $white;
            }
        }
        /*.close-icon {
		border: 1px solid transparent;
		background-color: transparent;
		display: inline-block;
		vertical-align: middle;
		outline: 0;
		cursor: pointer;
		&:after {
			content: "X";
			display: block;
			width: 15px;
			height: 15px;
			position: absolute;
			background-color: $color_mona_lisa_approx;
			z-index: 1;
			right: 35px;
			top: 0;
			bottom: 0;
			margin: auto;
			padding: 2px;			
			border-radius: 50%;
			text-align: center;
			color: $white;
			font-weight: normal;
			font-size: 12px;			
			cursor: pointer;
		}
	}*/
    }
    .theme-container {
        float: left;
        width: 100%;
        margin-top: 55px;
        padding-right: 100px;
        .theme-focus {
            background-image: $mobile-image;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            img {
                float: left;
                @include border-radius(2px);
            }
        }
        .theme-images {
            margin: 0;
            padding: 0;
            position: absolute;
            display: none;
            z-index: -1;
        }
        .theme-thumbs {
            background-color: $grey;
            position: fixed;
            z-index: 10;
            bottom: 0;
            &:hover {
                opacity: 1;
            }
            .small-theme-images {
                display: inline-block;
                margin: 0;
                white-space: nowrap;
                float: left;
                span {
                    display: inline-block;
                    height: 100px;
                    width: 100px;
                    margin: 12px 5px;
                    border: 2px solid $grey;
                    cursor: pointer;
                    &:hover {
                        border: 2px solid $bg-finish;
                    }
                    .thumb {
                        height: 96px;
                        width: 100%;
                        display: inline;
                        position: relative;
                        z-index: 1;
                    }
                    &.selected {
                        border: 2px solid $bg-finish;
                        &:after {
                            content: "\2713 ";
                            background-color: $bg-finish;
                            padding: 3px 8px;
                            position: relative;
                            right: 27px;
                            top: -34px;
                            font-size: 14px;
                            font-weight: bold;
                            color: $white;
                            @include border-radius(2px);
                            z-index: 2;
                        }
                    }
                    label {
                        float: left;
                        font-weight: normal;
                        padding-left: 5px;
                        background: $bg-light-white repeat 0 0;
                        width: 100%;
                        margin-top: -20px;
                        position: relative;
                        z-index: 2;
                    }
                }
            }
        }
    }
    .collection-gallery {
        .top-nav {
            position: relative;
            a {
                color: $button-grey;
                font-size: 16px;
                text-decoration: none;
                position: relative;
                top: 10px;
                .icon-Back {
                    color: $button-grey;
                    margin-right: 5px;
                    &:before {
                        position: relative;
                        top: 2px;
                    }
                }
            }
            .search-box {
                right: 10px;
                input[type=search] {
                    &:focus {
                        width: 280px;
                    }
                }
            }
        }
        .gallery-thumbs {
            background-color: $bg-image;
            overflow: scroll;
            position: absolute;
            top: 100px;
            overflow-y: scroll;
            overflow-x: hidden;
            left: 0;
            ul {
                li {
                    position: relative;
                    display: inline-block;
                    margin-bottom: 3px;
                    cursor: pointer;
                    border: 2px solid $grey;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                    label {
                        float: left;
                        font-weight: normal;
                        padding-left: 5px;
                        background: $bg-light-white repeat 0 0;
                        width: 100%;
                        margin-top: -20px;
                        position: relative;
                        z-index: 2;
                    }
                    &.active {
                        border: 2px solid $bg-finish;
                        &:after {
                            content: "\2713 ";
                            background-color: $bg-finish;
                            padding: 3px 8px;
                            position: absolute;
                            right: 0;
                            top: 0;
                            font-size: 14px;
                            font-weight: bold;
                            color: $white;
                            z-index: 2;
                        }
                    }
                }
            }
        }
    }
    .page-landing {
        float: left;
        margin-top: 83px;
        width: 100%;
        .show {
            .gift {
                background: url('../../assets/images/GiftUnselected.svg') no-repeat 0 0;
                @include border-radius(50%);
                height: 60px;
                width: 60px;
                margin: 0 auto;
                display: block;
                padding: 8px;
                cursor: pointer;
            }
            &.active {
                .gift {
                    background: url('../../assets/images/GiftSelected.svg') no-repeat 0 0;
                }
            }
        }
        .show {
            .personnel {
                background: url('../../assets/images/PersonalUnselected.svg') no-repeat 0 0;
                @include border-radius(50%);
                height: 60px;
                width: 60px;
                margin: 0 auto;
                display: block;
                padding: 8px;
                cursor: pointer;
            }
            &.active {
                .personnel {
                    background: url('../../assets/images/PersonalSelected.svg') no-repeat 0 0;
                }
            }
        }
    }
    .app-suit {
        float: left;
        margin-top: 55px;
        width: 100%;
        .apps-select {
            float: left;
            width: 100%;
            margin-top: 20px;
            .carousel-inner {
                ul {
                    li {
                        float: left;
                        background-color: $white;
                        margin: 5px;
                        @include box-shadow(0,
                        0,
                        5px,
                        rgba(0,
                        0,
                        0,
                        0.2));
                        border: 2px solid $white;
                        position: relative;
                        img {}
                        label {
                            text-align: center;
                            float: left;
                            width: 100%;
                            font-weight: normal;
                        }
                        &.select {
                            border: 2px solid $bg-finish;
                            &:after {
                                content: "\2713 ";
                                background-color: $bg-finish;
                                padding: 3px 8px;
                                position: absolute;
                                right: 0;
                                top: 0;
                                font-size: 14px;
                                font-weight: bold;
                                color: $white;
                                z-index: 2;
                            }
                        }
                    }
                }
            }
            .carousel-indicators {
                position: relative;
                top: 25px;
                li {
                    background-color: $icon-grey;
                    border: none;
                    &.active {
                        background-color: $black;
                        border: none;
                    }
                }
            }
            .left,
            .right {
                background-image: none;
            }
            .grey-bg-rounded {
                background-color: $icon-grey;
                @include border-radius(40px);
                padding: 10px 20px;
                color: $white;
            }
            .grey-button {
                float: left;
                width: 100%;
                margin-top: 30px;
                h5 {
                    width: 150px;
                    margin: 0 auto;
                }
            }
        }
    }
    .finalize {
        float: left;
        width: 100%;
        margin-top: 55px;
        a {
            color: $button-grey;
            font-size: 16px;
            text-decoration: none;
            position: relative;
            top: 10px;
            .icon-Back {
                color: $button-grey;
                margin-right: 5px;
                &:before {
                    position: relative;
                    top: 2px;
                }
            }
        }
        ul {
            padding-left: 15px;
            li {
                list-style-type: square;
            }
        }
        .finalView {
            background: $mobile-image no-repeat center 10px;
            height: 260px;
            background-size: 121px 247px;
            width: 121px;
            display: -webkit-flex;
            display: flex;
            margin: 0 auto;
            padding: 36px 6px 28px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .in-button {
            margin-top: 12px;
            h5 {
                margin-left: 22px;
                float: left;
            }
            .green {
                background-color: $bg-apps;
                color: $white;
                padding: 5px;
                font-size: 12px;
                position: relative;
                display: inline-block;
            }
            .orange {
                background-color: $bg-setting;
                color: $white;
                padding: 5px;
                font-size: 12px;
                position: relative;
                display: inline-block;
            }
        }
    }
    .personalised {
        float: left;
        width: 100%;
        margin-top: 55px;
        #configure {
            border: 2px solid #ccc;
            padding: 5px 15px;
            margin: 0 auto;
            display: flex;
            background-color: $white;
            width: 130px;
        }
        #configureImage {
            height: 210px;
            width: 110px;
            margin: 0 auto;
            .gift-mibile-img {
                background: url('../../assets/images/GiftPhone.svg') no-repeat 0 0;
                background-size: 100%, 100%;
                float: left;
                height: 100%;
                width: 100%;
            }
        }
        .holder {
            display: none;
            width: 150px;
            height: 210px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                float: left;
                width: 100%;
                height: 210px;
                li {
                    float: left;
                    width: 100%;
                    padding: 5px 0;
                }
            }
        }
    }
}