@media screen and (min-width: 1024px) {
    .container {
        width: 1024px;
        .info-section {
            top: 447px;
            left: 3%;
        }
        .rightMenu {
            position: absolute;
            top: 55px;
            right: 0;
            width: 300px;
            .btn-more {
                width: 100px;
                &.active {
                    width: 300px;
                }
            }
            .btn-detault {
                width: 100px;
            }
            .rightMenu-subMenu {
                width: 160px;
                right: 0;
                a {
                    padding: 10px 0;
                    margin-bottom: 10px;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
        #carousel-custom {
            margin: 15px auto;
            .carousel-inner {
                width: 200px;
                left: 9px;
            }
            .carousel-indicators {
                width: 1024px;
            }
            .carousel-outer {
                .themeArea {
                    background: $mobile-image no-repeat center 0;
                    margin: 0 auto;
                }
            }
            .item img {
                height: 355px;
                margin-top: 46px;
            }
        }
        .checkboxNew{
            label{
                font-size: 14px;
            }
        }
        .theme-container {
            margin-top: 15px;            
            .theme-focus {
                width: 220px;
                height: 445px;                
                margin: 0 auto;
                padding: 46px 0 0 9px;
                img {
                    height: 355px;
                    width: 200px;
                }
            }
            .theme-images {} .theme-thumbs {
                width: 1024px;
                &:hover {} .small-theme-images {
                    overflow: hidden;
                    width: 923px;
                    .thumb {
                        &:hover {}
                    }
                    .selected {}
                }
                #left-arrow {
                    margin-top: 50px;
                    background: $left-arrow no-repeat 0 0;
                    margin-left: 10px;
                    margin-right: 10px;
                    display: inline-block;
                    float: left;
                    height: 30px;
                    width: 30px;
                    cursor: pointer;
                }
                #right-arrow {
                    margin-top: 50px;
                    background: $right-arrow no-repeat 0 0;
                    margin-left: 10px;
                    margin-right: 10px;
                    display: inline-block;
                    float: left;
                    height: 30px;
                    width: 30px;
                    cursor: pointer;
                }
            }
        }
        .collection-gallery {
            .top-nav {
                padding: 30px 0;
                .icon-Back {
                    top: 40px;
                }
            }
            .gallery-thumbs {
                padding: 10px 9px;
                bottom: 90px;
                ul {
                    li {
                        height: 123px;
                        width: 123px;
                    }
                }
            }
        }
        .app-suit {
            .carousel-inner {
                width: 78%;
                margin: 0 auto;
                ul {
                    li {
                        height: 98px;
                        width: 30%;
                        padding: 30px;
                        img {
                            height: 40px;
                            width: 40px;                            
                        }
                        label {}
                    }
                }
            }
            .left {                
                span {
                    background: $left-arrow no-repeat 0 0;
                    position: absolute;
                    top: 50%;                    
                    height: 30px;
                    width: 30px;
                    left: 0;
                }
            }
            .right {                
                span {
                    background: $right-arrow no-repeat 0 0;
                    position: absolute;
                    top: 50%;                    
                    height: 30px;
                    width: 30px;
                    right: 0;
                }
            }
            .search-box{                
                input[type=search] {
                    &:focus{
                        width: 330px;
                    }
                }                
            }
        }
        .selectGrey {
            bottom: 20px;
        }
    }
}