.icon-Contact .path1:before {
  content: "\e909";
  color: rgb(0, 0, 0);
}
.icon-Contact .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Fonts:before {
  content: "\e900";
}
.icon-Photos:before {
  content: "\e901";
}
.icon-Accessibility:before {
  content: "\e902";
}
.icon-Animation:before {
  content: "\e903";
}
.icon-App:before {
  content: "\e904";
}
.icon-Back:before {
  content: "\e905";
}
.icon-Brightness:before {
  content: "\e906";
}
.icon-Cancel:before {
  content: "\e907";
}
.icon-Collection:before {
  content: "\e908";
}
.icon-Finish:before {
  content: "\e90a";
}
.icon-Home-screen-shortcut:before {
  content: "\e90b";
}
.icon-Home-screen-wallpaper:before {
  content: "\e90c";
}
.icon-Information:before {
  content: "\e90d";
}
.icon-Lock-screen-shortcut:before {
  content: "\e90e";
}
.icon-Lock-screen-wallpaper:before {
  content: "\e90f";
}
.icon-More:before {
  content: "\e910";
}
.icon-Phone-name:before {
  content: "\e911";
}
.icon-Popular-app:before {
  content: "\e912";
}
.icon-Quick-options:before {
  content: "\e913";
}
.icon-Ringtone:before {
  content: "\e914";
}
.icon-Search:before {
  content: "\e915";
}
.icon-Settings:before {
  content: "\e916";
}
.icon-Style:before {
  content: "\e917";
}
.icon-View-all:before {
  content: "\e918";
}
.icon-Welcome-message:before {
  content: "\e919";
}

