@media screen and (min-width: 320px) and (max-width: 599px) {
    .container {
        width: 100%;
        h5 {
            font-size: 12px;
        }
        h4 {
            font-size: 16px;
        }
        .info-section {
            top: 300px;
            left: 14%;
        }
        .rightMenu {
            position: fixed;
            top: 50px;
            right: -73px;
            .btn-more {
                width: 100px;
                &.active {
                    width: 170px;
                }
            }
            .btn-detault {
                width: 100px;
            }
            .rightMenu-subMenu {
                width: 120px;
                right: 90px;
                a {
                    text-align: center;
                    padding-bottom: 10px;
                    i {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
        #carousel-custom {
            margin: 10px auto;
            .carousel-inner {
                width: 127px;
                left: 46px;
                height: 283px;
            }
            .carousel-indicators {
                width: 100%;
            }
            .carousel-outer {
                .themeArea {
                    background: $mobile-image no-repeat center 0;
                    float: left;
                }
            }
            .item img {
                height: 225px;
                margin-top: 30px;
            }
        }
        .checkboxNew{
            label{
                font-size: 12px;
            }
        }
        .theme-container {
            margin-top: 15px;            
            .theme-focus {
                width: 140px;
                height: 283px;                
                margin: 0 auto;
                padding: 30px 0 0 6px;                
                img {
                    position: relative;
                    width: 127px;
                    left: 0;
                    height: 225px;
                }
            }
            .theme-images {} .theme-thumbs {
                width: 100%;
                &:hover {} .small-theme-images {
                    overflow: scroll;
                    width: 98%;
                    .thumb {
                        &:hover {}
                    }
                    .selected {}
                }
                #left-arrow {} #right-arrow {}
            }
        }
        .collection-gallery {
            .top-nav {
                padding: 10px 0;
                .icon-Back {
                    top: 20px;
                }
            }
            .gallery-thumbs {
                padding: 10px;
                bottom: 0;
                ul {
                    li {
                        height: 98px;
                        width: 98px;
                    }
                }
            }
        }
        .app-suit {
            .suit-list {
                width: 65%;
                float: left;
            }
            .carousel-inner {
                ul {
                    li {
                        height: 58px;
                        width: 27%;
                        img {
                            height: 25px;
                            width: 25px;
                            margin: 10px 0 0 10px;
                        }
                        label {}
                    }
                }
            }
            .search-box{                
                input[type=search] {
                    &:focus{
                        width: 160px;
                    }
                }                
            }
        }
        .finalize{
            ul{
                li{
                   font-size: 12px; 
                }
            }
        }
        .selectGrey {
            bottom: 0;
            z-index: 2;
        }
    }
}