@media screen and (min-width: 600px) and (max-width: 1023px) {
    .container {
        width: 100%;
        .info-section {
            top: 447px;
            left: 3%;
        }
        .rightMenu {
            position: absolute;
            top: 55px;
            right: 0;
            .btn-more {
                width: 80px;
                &.active {
                    width: 222px;
                }
            }
            .btn-detault {
                width: 80px;
            }
            .rightMenu-subMenu {
                width: 160px;
                right: 60px;
                a {
                    padding: 10px 0;
                    margin-bottom: 10px;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
        #carousel-custom {
            margin: 15px auto;
            .carousel-inner {
                width: 200px;
                left: 9px;
            }
            .carousel-indicators {
                width: 100%;
            }
            .carousel-outer {
                .themeArea {
                    background: $mobile-image no-repeat center 0;
                    margin: 0 auto;
                }
            }
            .item img {
                height: 355px;
                margin-top: 46px;
            }
        }
        .checkboxNew{
            label{
                font-size: 14px;
            }
        }
        .theme-container {
            margin-top: 15px;            
            .theme-focus {
                width: 220px;
                height: 445px;                
                margin: 0 auto;
                padding: 46px 0 0 9px;
                img {
                    height: 355px;
                    width: 200px;
                }
            }
            .theme-images {} .theme-thumbs {
                width: 100%;
                &:hover {} .small-theme-images {
                    overflow: scroll;
                    width: 98%;
                    .thumb {
                        &:hover {}
                    }
                    .selected {}
                }
                #left-arrow {} #right-arrow {}
            }
        }
        .collection-gallery {
            .top-nav {
                padding: 30px 0;
                .icon-Back {
                    top: 40px;
                }
            }
            .gallery-thumbs {
                padding: 10px 6px;
                bottom: 90px;
                ul {
                    li {
                        height: 115px;
                        width: 115px;
                    }
                }
            }
        }
        .app-suit {
            .suit-list {
                width: 60%;
                float: left;
            }
            .carousel-inner {
                ul {
                    li {
                        height: 100px;
                        width: 30%;
                        img {
                            height: 55px;
                            width: 55px;
                            margin: 10px 0 10px 20px;
                        }
                        label {}
                    }
                }
            }
            .search-box{                
                input[type=search] {
                    &:focus{
                        width: 310px;
                    }
                }                
            }
        }
        .selectGrey {
            bottom: 20px;
        }
    }
}