@font-face {
  font-family: 'titillium-web-regular';
  src: url('../../assets/fonts/TitilliumWeb-Regular.eot');
  src: local('?'), url('../../assets/fonts/TitilliumWeb-Regular.woff') format('woff'), 
      url('../../assets/fonts/TitilliumWeb-Regular.ttf') format('truetype'), 
      url('../../assets/fonts/TitilliumWeb-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'titillium-web-semiBold';
  src: url('../../assets/fonts/TitilliumWeb-SemiBold.eot');
  src: local('?'), url('../../assets/fonts/TitilliumWeb-SemiBold.woff') format('woff'), 
      url('../../assets/fonts/TitilliumWeb-SemiBold.ttf') format('truetype'), 
      url('../../assets/fonts/TitilliumWeb-SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Samsung_icons';
  src:  url('../../assets/fonts/Samsung_icons.eot?p9hky8');
  src:  url('../../assets/fonts/Samsung_icons.eot?p9hky8#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Samsung_icons.ttf?p9hky8') format('truetype'),
    url('../../assets/fonts/Samsung_icons.woff?p9hky8') format('woff'),
    url('../../assets/fonts/Samsung_icons.svg?p9hky8#Samsung_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Samsung_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$white: #FFFFFF;
$black: #000000;
$grey: #e5e9ee;
$icon-grey: #7796a3;
$bg-styles: #00bed8;
$bg-apps: #00cf7f;
$bg-setting: #ffad00;
$bg-more: #ff526e;
$bg-finish: #46616c;
$bg-image: #e5eaee;
$button-grey: #46606b;
$samsung-blue: #1e31a4;

$mobile-image: url('../../assets/images/PhoneFrame.png');
$body-bg: url('../../assets/images/BackgroundPattern.svg');
$ico-info: url('../../assets/images/Information.svg');
$icon-search: url('../../assets/images/Search.svg');
$bg-light-white: url('../../assets/images/white-light.png');
$left-arrow: url('../../assets/images/ArrowLeft.svg');
$right-arrow: url('../../assets/images/ArrowRight.svg');

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

@mixin box-shadow($top, $left, $blur, $color) {
      -webkit-box-shadow:$top $left $blur $color;
      -moz-box-shadow:$top $left $blur $color;
      box-shadow:$top $left $blur $color;
    }

@import 'mobile';
@import 'tab';
@import 'desktop';
@import 'common';
@import 'fonts';